body {
    background-color: gainsboro;
}

nav {
    background-color: crimson;
    color: whitesmoke;
}

main {
    padding-top: 70px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px 5px darkgray;
}

code {
    border-radius: 5px;
}

.nav-link {
    color: whitesmoke;
}

.nav-link:hover {
    color: darkgrey;
}
