body {
    background-color: gainsboro;

    /* Hide scroll bars */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

nav {
    background-color: crimson;
    color: whitesmoke;
}

main {
    padding-top: 70px;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px 5px darkgray;
}

code {
    border-radius: 5px;
}

.nav-link {
    color: whitesmoke;
}

.nav-link:hover {
    color: darkgrey;
}

.code-snippet .display-5 {
    color: #21252A;
}

.hover-underline {
    text-decoration: none;
}

.hover-underline:hover {
    text-decoration-line: underline;
}

.profile-pic {
    width: 20%;
    aspect-ratio: 1;
    box-shadow: 0 0 15px 2px black;
}

.comment {
    border-radius: 17px;
    box-shadow: 0 0 10px 2px gray;
    display: flex;
}

.comment .profile-pic {
    width: 6%;
    aspect-ratio: 1;
    box-shadow: 0 0 4px 2px gray;
}

.inline {
    display: inline;
}

.glyph-btn {
    border-radius: 10px;
    background: whitesmoke;
}

.glyph-btn:hover {
    background: lightgray;
}

.channel a {
    color: #21252A;
}
