{% import "macros" as m %}
{% extends "base_template" %}

{% block title %}
    Home
{% endblock title %}

{% block main %}
    <h3>The Latest Code Snippets</h3>

    {% for snippet in code_snippets %}
        {{ m::snippet(s=snippet) }}
    {% endfor %}
{% endblock main %}
