{% extends 'main/base_template.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Login
{% endblock title %}

{% block main %}
    <h3 class="pb-3 border-bottom">Log in to get more out of Snippet</h3>

    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form|crispy }}
        </fieldset>

        <div class="form-group">
            <button class="btn btn-outline-primary" type="submit">
                Login
            </button>
        </div>
    </form>

    <div class="mt-3 pt-1 border-top">
        <small>
            <a href="{% url 'register' %}" class="text-muted ms-2">
                Don't have an account?
            </a>
        </small>
    </div>
{% endblock main %}